/node_modules
/public/hot
/public/uploads/*
/storage/*.key
/vendor
.env
.gh-access-token.txt
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode